* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.memoApp {
  display: flex;
}

.addMemo {
  background-color: rgb(206, 115, 69);
  width: 25%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMemoHeader {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  width: 100%;      
  gap: 56px;
  margin-bottom: 24px; 
}

.addMemoHeader p{
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.addMemoHeader button {
  padding: 0px 8px;
  font-weight: bold;
  font-size: 24px;
}

.memoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addMemoList {
  width: 100%;             
}

.addMemoList button{
  padding: 0px 8px 0px 16px;
  margin: 4px auto;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background: none;
  border: none;
  /* font-size: 14px; */
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: x-small;
}

.memoContent {
  width: 75%;
  height: 100vh;
}

.memoContentUndifined {
  margin: 0px;
  background-color: bisque;
  width: 75%;
  padding: 16px;
  font-size: large;
  font-weight: bold;
}

.memoTitle {
  background-color: rgba(234, 137, 40, 0.866);
  border: none;
  padding: 8px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-weight: bold;
  font-size: xx-large;
}

.memoHeader{
  background-color: rgba(229, 184, 139, 0.866);
  height: 5%;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.memoHeaderControls {
  display: flex;
  gap: 8px; 
  flex-wrap: wrap; 
}

.memoHeaderControls  button {
  padding: 1px 4px;
  background: none;
  border: none;
  /* font-size: 14px; */
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.memoText {
  background-color: bisque;
  border: none;
  padding: 8px;
  height: 85%;
  width: 100%;
}
