* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.memoApp {
  display: flex;
}

.addMemo {
  background-color: rgb(165, 83, 42);
  width: 25%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMemoHeader {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  width: 100%;      
  gap: 56px;
  margin-bottom: 24px; 
}

.addMemoHeader p{
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.addMemoHeader button {
  padding: 4px 8px;
}

.addMemoList {
  width: 100%;             
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addMemoList button{
  padding: 4px 16px;
  margin: 4px auto;
}

.memoContent {
  width: 75%;
  height: 100vh;
}

.memoHeader {
  background-color: rgba(237, 174, 111, 0.866);
  padding: 8px;
  height: 10%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.memoText {
  background-color: bisque;
  padding: 8px;
  height: 90%;
}
